name: Check Langchain-Upstage Compatibility

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 9 * * *'
  workflow_call:
    inputs:
      working-directory:
        required: true
        type: string
        description: "From which folder this pipeline executes"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
  test:
    name: test
    needs: [ build ]
    uses: ./.github/workflows/_test.yml
    secrets: inherit

  compile-integration-tests:
    name: compile integration test
    needs: [ build ]
    uses: ./.github/workflows/_compile_integration_test.yml
    secrets: inherit
  
  integration_test:
    name: integration test
    needs: [ build, compile-integration-tests ]
    uses: ./.github/workflows/_integration_test.yml
    secrets: inherit

  ci_success:
    name: "CI Success"
    needs: [build, test, compile-integration-tests]
    if: |
      always()
    runs-on: ubuntu-latest
    env:
      JOBS_JSON: ${{ toJSON(needs) }}
      RESULTS_JSON: ${{ toJSON(needs.*.result) }}
      EXIT_CODE: ${{!contains(needs.*.result, 'failure') && !contains(needs.*.result, 'cancelled') && '0' || '1'}}
    steps:
      - name: "CI Success"
        run: |
          echo $JOBS_JSON
          echo $RESULTS_JSON
          echo "Exiting with $EXIT_CODE"
          exit $EXIT_CODE
